.slider{
    height:calc(100vh - 80px);
    width: 100vw;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;

    .container{
        width: 300vw;
        display: flex;

        img{
            width: 100vw;
            height: 50%;
            background-position: center;
            object-fit: cover;
        }
    }

    .icons{
        display: flex;
        align-items: center;
        text-align: center;
        scale:200%;
        width: 100px;
        position: absolute;
        left: 0;
        right:0;
        bottom: 150px;
        margin: auto;
               
    }
}