.slider{
    // height:calc(100vh - 80px);
    width: 100vw;
    position: relative;
    align-items:center;
    text-align: center;
    justify-content: center;
    object-fit:cover;

    

    .container{
        width: 300vw;
        height: 100%;
        display: flex;
        transition: all 1s ease;

        img{
            width: 100vw;
            height: 100%;
            background-position: center;
            object-fit:cover;

        }
    }

    .icons{
        display: flex;
        align-items: center;
        width: fit-content;
        position: relative;
        left: 0;
        right:0;
        bottom: 100px;
        gap: 10px;
        margin: auto;
        

        .icon{
            // width: 50px;
            // height: 50px;
            display: flex;
            scale: 120%;
            align-items: center;
            justify-content: center;
            border: 1px solid wheat;
            color: bisque;
        }
               
    }
}